<h1>Welcome</h1>

<% flash.each do |key, message| %>
  <p class="<%= key %>"><%= message %></p>
<% end %>

<%= form_for @chat, url: {action: "create"} do |f| %>
  <%= f.submit "Создать" %>
<% end %>

<%= link_to 'Подключиться', chats_connect_path %>