<!DOCTYPE html>
<html>
  <head>
    <title>AnonymousChat</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div id='app'>
      <router-view></router-view>
    </div>

    <%= javascript_pack_tag 'app' %>
  </body>
</html>
